<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szy.blogcode" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="category"
            android:value="${CATEGORY}" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xadapter.XAdapterActivity"
            android:label="@string/title_activity_xadapter" >
        </activity>
        <activity
            android:name=".propertyanimation.PropertyAnimationActivity1"
            android:label="@string/title_activity_property_animation" >
        </activity>
        <activity
            android:name=".propertyanimation.PropertyAnimationActivity2"
            android:label="@string/title_activity_property_animation2" >
        </activity>
        <activity
            android:name=".propertyanimation.PropertyAnimationActivity3"
            android:label="@string/title_activity_property_animation3" >
        </activity>
        <activity
            android:name=".remoteviews.SendActivity"
            android:label="@string/title_activity_a" >
        </activity>
        <activity
            android:name=".remoteviews.ReceiveActivity"
            android:label="@string/title_activity_b"
            android:process=":remote" >
        </activity>
        <activity
            android:name=".view.ShowCustomViewActivity"
            android:label="@string/title_activity_show_custom_view"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".cheesequare.CheeseSquareActivity"
            android:label="@string/title_activity_cheese_square"
            android:theme="@style/Theme.CheeseSquare" >
        </activity>
        <activity
            android:name=".http.XUtilsDemoActivity"
            android:label="@string/title_activity_http" >
        </activity>
        <activity
            android:name=".imagecache.ImageLoaderActivity"
            android:label="@string/title_activity_image_loader" >
        </activity>
        <activity
            android:name=".doodle.DoodleActivity"
            android:label="@string/title_activity_doodle" >
        </activity>
    </application>

</manifest>
